doctype html
html(lang='en')

    head
        meta(name='viewport', content='width=device-width, initial-scale=1')
        link(rel='stylesheet', href='//cdnjs.cloudflare.com/ajax/libs/highlight.js/8.8.0/styles/default.min.css')
        link(rel='stylesheet', href='/public/css/sofa.css')
        link(rel='stylesheet', href='/public/css/github-markdown.css')
        block title

    body(class='markdown-body')
        block content
    
        include footer
